.experience{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 30vh;
}
.achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: black;
}
.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom,#f9fb87 0%,#5cc3ff 100%);
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}
.achievement span:nth-of-type(2)
{
    color:var(--orange);
}
@media (max-width: 480px) {
    .experience {
      gap: 1rem; /* Reduce the gap between achievements further for even smaller screens */
    }
  
    .circle {
      width: 3rem; /* Reduce the circle size for even smaller screens */
      height: 3rem; /* Reduce the circle size for even smaller screens */
      font-size: 1.2rem; /* Reduce the font size for even smaller screens */
      margin-bottom: 0.5rem; /* Reduce the margin between the circle and text further for even smaller screens */
    }
  }